 <!-- Navigation bar -->
<app-navbar></app-navbar>

<h1>Order Tracking</h1>

<div class="flex">

<div id="m_map" style="height: 500px;"></div>

<div class="map-details">
<div class="start">
    <label for="start" class="fs-3">Start:</label>
    <input type="text" class="form-control mt-1" id="start floatingInputGroup1" placeholder="Enter starting location">
</div>
<div class="end">
    <label for="end" class="fs-3">End:</label>
    <input type="text" class="form-control mt-1" id="end floatingInputGroup1" placeholder="Enter destination">   
</div>
<button type="button" class="btn route btn-outline-primary" (click)="calculateAndDisplayRoute()">Get Route</button>
<div *ngIf="!error" class="distance">
    <span class="fs-3">Distance:</span> {{ distance }}
</div>
<div *ngIf="!error" class="duration">
    <span class="fs-3">Duration:</span> {{ duration }}
</div>
<div>
  Order Status: Delivered
</div>
</div>

</div>
<div class="popup" *ngIf="isPopupVisible">
<!-- <div class="popup"> -->
    <div class="popup-content">
      <h2>Your Order Has Been Delivered!</h2>
      <button (click)="closePopup()">Close</button>
    </div>
  </div>

  <app-footer></app-footer>
  