<!-- Navigation bar -->
<app-navbar></app-navbar>
 <div class="customize-container">
  <div class="sidebar">
    <h1>Categories</h1>
    <ul>
      <li>
        <a [routerLink]="['/customize', 'anniversary']">Anniversary</a>
      </li>
      <li>
        <a [routerLink]="['/customize', 'shower']">Baby Shower</a>
      </li>
      <li>
        <a [routerLink]="['/customize', 'cartoons']">Cartoons</a>
      </li>
      <li>
        <a [routerLink]="['/customize', 'diwali']">Diwali</a>
      </li>
      <li>
        <a [routerLink]="['/customize', 'janmashtami']">Janmashtami</a>
      </li>
      <li>
        <a [routerLink]="['/customize', 'carsbikes']">Cars Bikes</a>
      </li>
    </ul>
  </div>
  <div class="container main">
  <router-outlet></router-outlet>
  </div>
</div>
  <app-footer></app-footer>