<!-- Navigation bar -->
<app-navbar></app-navbar>
  
  <div class="cart-container">
    <h1>My Cart <span class="fs-4">({{ totalItems }} items)</span> </h1>
    <div class="cart-empty" *ngIf="cartItems.length === 0">
      <h3>Your cart is currently empty.</h3>
      <p>Looks like you have not any choice yet.</p>
      <a routerLink=""><button type="button" class="btn btn-outline-danger">Go To Home</button></a>
    </div>
  
    <div *ngFor="let item of cartItems" class="cart-item">
    <div>
      <img [src]="item.image" alt="{{ item.title }}">
    </div>
    <div class="item-details">
      <h3>{{ item.title }}</h3>
      <h5>Quantity: {{ item.quantity }}</h5>
      <input type="number" class="qty-input" [(ngModel)]="item.quantity" min="1">
      <p class="fs-5 mt-2">Price: {{ item.price }} x {{ item.quantity }}</p>
      <button type="button" class="btn btn-outline-danger" (click)="removeFromCart(item.id)">Remove</button>
    </div>
    </div>
  
    <div class="cart-totals mt-3 fs-2 text-center">
      <p>Total Price: Rs.{{ calculateTotal() }}</p>
    </div>

    <div class="checkout-btn text-center">
    <a routerLink="/checkout"><button [disabled]="cartItems.length === 0" type="button" class="btn btn-outline-dark">Checkout</button>
  </a></div>
  </div>


  <app-footer></app-footer>
  