<!-- Navigation bar -->
<app-navbar></app-navbar>
<div class="product-container">
  <div class="sidebar">
    <h1>Categories</h1>
    <ul>
      <li>
        <a [routerLink]="['/products', 'cakes']">Cakes</a>
      </li>
      <li>
        <a [routerLink]="['/products', 'pastry']">Pastry</a>
      </li>
      <li>
        <a [routerLink]="['/products', 'donuts']">Donuts</a>
      </li>
      <li>
        <a [routerLink]="['/products', 'brownies']">Brownies</a>
      </li>
      <li>
        <a [routerLink]="['/products', 'cupcakes']">Cupcakes</a>
      </li>
      <li>
        <a [routerLink]="['/products', 'cookies']">Cookies</a>
      </li>
    </ul>
  </div>

<div class="container main">
  <router-outlet></router-outlet></div>
</div>
  <app-footer></app-footer>